[2019-07-17 17:43] jlholder opened #1 "Separate admin groups for diff responses"
Acct request tool currently set up so all admins see all groups.

Let's break it out so different groups/regions can use the tool for different responses. Depending on their access (i.e. R9 response 1 vs. R9 response 2 vs. R8 response 1), they only have the option to add their users to specific GeoPlatform groups.

Use Guam team as a use case.

[2019-09-16 14:55] jlholder opened #2 "Add user to groups using existing acct"
Right now, when a sponsor logs in, they can only approve a new account and assign that new account to groups.

To assign an existing user to groups, the sponsor currently has to go back to the GeoPlatform.

Can we add an option in the sponsor page to select an existing acct and use it?

[2019-09-16 17:10] tbock commented on #2
Maybe we should just reject account requests that have a matching username and email and tell them to go to geoplatform to get group access.

[2019-09-16 17:12] tbock commented on #2
Or is that too much friction ... just create the accounts b/c its related to emergency response and clean up the duplicates later.

[2019-09-16 17:18] tbock opened #3 "When editing username manually and saving an error is throw"
Expected behavior is that the request record saves and if the username exists a tooltip explain that the users groups will be changed but no new account created.

[2019-10-15 16:22] jlholder opened #4 "Setting up new response"
Add form to set up a new response:
- What region?
- Name of the response
- Who are the sponsors/email
- What groups are you using

Will need to be able to add/delete sponsors as the response progresses and change name of the response

[2019-10-15 16:24] jlholder opened #5 "Add autocomplete to organization"
Want to provide auto-complete suggestions for existing organizations on acct request page

[2019-10-15 20:16] jlholder opened #6 "Workflow diagram of request process"
How do we see the workflow going? Have diagram ready for Josh's arrival next week

[2019-11-20 22:36] tbock commented on #1
I believe this is done... lets look once I deploy

[2019-11-22 18:45] tbock opened #8 "Add ability for a user to be delegated ability to approve for a sponsor"
Per Torrin: This is needed b/c contractors cannot be sponsors/coordinators but they can review and approve as delegated by EPA staff.

[2019-11-25 19:04] jlholder opened #9 "New Landing Page"
https://request.ercloud.org
![unnamed](https://user-images.githubusercontent.com/17882165/69569685-28a59600-0f8c-11ea-9db2-d33e693f3260.png)
Rework landing page to include 3 buttons:
- [x] Field Team Coordinators
- [x] Configure New Response
- [x] Request GeoPlatform Account

[2019-11-25 19:15] jlherring opened #10 "Field Team Coordinators Page"
When you first click on the Field Team Coordinators button from the home page, you see a table of existing Field Team Coordinators with access to the tool.

Searchable/sortable list including:
- [x] First Name
- [x] Last name
- [x] Phone number
- [x] Email
- [x] Authoritative Group

At top-right page , include a button to "Request to be a Field Team Coordinator," see issue

[2019-11-25 19:19] jlholder commented on #1
done

[2019-11-25 19:19] #1 closed

[2019-11-25 19:20] jlholder commented on #2
Set up to show user if someone already has an acct and gives option to replace username w/ an existing one to just add them to groups (not create another acct)

[2019-11-25 19:20] #2 closed

[2019-11-25 19:24] jlholder opened #11 "Field Team Coordinator Request Form"
From issue #10 , click the "Request to be a Field Team Coordinator" button and open a new dialog. Dialog includes a form (similar to existing acct request form), where a user provides:
- [x] First name (required)
- [x] Last Name (required)
- [x] Phone number (required)
- [x] Email (required)
- [x] Authoritative Group (required) - matches the GeoPlatform Dashboard alias
- [x] GeoPlatform user accou

[2019-11-25 19:30] jlholder opened #12 "Configure New Response page"
When a user clicks the "Configure New Response" button, it takes you to a new page with a form (similar to existing acct request form).  A user provides the following info:
- [x] Name of the new response (required)
- [x] List of Field team coordinators associated w/ the response (required)
- [x] GeoPlatform groups used for the response (required)
- [x] Name of the person requesting the new respons

[2019-11-25 19:31] jlholder commented on #4
replaced w/ issues #12

[2019-11-25 19:31] #4 closed

[2019-11-25 19:33] jlholder opened #13 "Request GeoPlatform Acct page"
Existing landing page is just moved to be a link off of the new landing page (see #9)
![image](https://user-images.githubusercontent.com/17882165/69571632-80de9700-0f90-11ea-87d3-5c28f40726ac.png)

[2019-11-25 19:34] jlholder commented on #6
![Workflow](https://user-images.githubusercontent.com/17882165/69571687-a075bf80-0f90-11ea-8e1d-e2d3cd4514c9.png)

[2019-11-25 19:34] #6 closed

[2019-12-02 15:51] jlholder commented on #10
This is different from the list of acct requests, more like a directory of coordinators. Not the list of requests

[2019-12-02 15:52] jlholder commented on #3
@tbock I think we're good here?

[2019-12-02 15:57] jlherring opened #15 "Update role/response names"
Per Torrin:   Language change is minimal – does it need to be Field Team Coordinator, or could it be Team Coordinator, or Project Coordinator, or EPA Coordinator?  Response could be changed to “Collaboration” or “Initiative” or “Project” or “Effort”.

[2019-12-02 15:58] jlholder opened #16 "Add "reason" for account creation"
Per Torrin: Can’t assume “reason” for account creation (one of sponsorship metadata elements) is Emergency Response. Could we add:

- [ ] domain-restricted “Reason” and
- [ ]  free-text Description to this tool

Those are mandatory fields in dashboard.

[2019-12-02 17:30] tbock commented on #3
IDK... is it working as expected?

[2019-12-02 18:43] jlherring opened #17 "Update emails for production"
Need to create/access a formal email to send all requests before pushing new UI to master

[2019-12-05 23:05] torrin47 commented on #16
The domain for "Reason" includes the following values. Not sure where this list came from, as some of the values are clearly non-exclusive, but it seems to work. I would think that it would be practical to set a default "Reason" for a given response.  If it's easy to then allow reason to be configurable on a user-by-user basis after that, then that might be nice, but that priority would be extreme

[2019-12-05 23:11] torrin47 commented on #12
Just to be clear, the "Name of the person requesting the new response" will be considered the "sponsor" for any new accounts created during the response, right? Sounds perfect to me.

[2019-12-05 23:17] torrin47 commented on #5
Here's our list of authoritative AGOL groups:

    'EPA Region 1': {id: '63641797ea964222bdfb662b21a5fa1c',edgName: 'REG 01',shortName: 'R01'},
    'EPA Region 2': {id: '9670ee274c7745d9b2e71222a3339b61',edgName: 'REG 02',shortName: 'R02'},
    'EPA Region 3': {id: '36dde1194b4a4736814a2c024afcf70e',edgName: 'REG 03',shortName: 'R03'},
    'EPA Region 4': {id: '07b70f9349e8496dadb33ae62702c531',ed

[2019-12-06 19:38] jlholder commented on #12
@torrin47 yes. and then related to #8, we just have to figure out how to also add delegates. i.e. Cheryl is the sponsor and requested the new response, but Rob and I would also have permission to hop in an approve based on her direction

[2019-12-06 19:46] jlholder commented on #16
Great! We shall use this strange list.

@tommckennon - the reason will be added to the Request GPO account section, so actual acct requests (not configuring coordinators).

[2019-12-09 16:42] jlholder opened #18 "Coordinators Request - update Region to Auth Group"
Let's change the test from "Region" to "Authoritative Group" to match the GeoPlatform Dashboard. Then, in addition to the regions, let's add the following options to the drop-down:

- EPA Office of Administration and Resources Management (OARM)
- EPA Office of Air and Radiation (OAR)
- EPA Office of Chemical Safety and Pollution Prevention (OCSPP)
- EPA Office of Enforcement and Compliance Assuran

[2019-12-09 16:50] jlholder commented on #5
@torrin47 I think these are 2 separate items - Auth Groups (list you posted above really issue #18) and then there's a free-text Organization option in the dashboard, which is typically the outside contractor/agency. Cheryl was thinking to provide some options in the organization for groups we work with regularly - but I'm thinking we keep it free text to mirror the dashboard.

[2019-12-09 17:29] tommckennon commented on #18
Added this issue to issue #11 .

[2019-12-09 17:29] #18 closed

[2019-12-09 20:30] jlholder commented on #3
nope. works if you don't edit the username. still throwing an error if you change the username.

[2019-12-10 21:19] jlholder commented on #15
Per Cheryl:
Use Team Coordinator
Use Project, but add in help documentation that a project = response

[2019-12-10 22:23] jlholder commented on #17
Cheryl requested the acct 12/10/19

[2019-12-11 06:02] #9 closed

[2019-12-11 06:16] tbock commented on #8
@jlholder please review in User admin... very bottom

[2019-12-13 17:59] #16 closed

[2019-12-19 16:24] jlherring opened #21 "Coordinator AGOL acct in response request email, not name"
The email is listing the coordinator's AGOL acct. But should be listing the coordinator's actual name:

![image](https://user-images.githubusercontent.com/17882165/71190154-0aad1780-2252-11ea-87c4-a3c67fff8e13.png)

[2019-12-19 16:27] #5 closed

[2019-12-19 16:28] #12 closed

[2019-12-19 16:28] #13 closed

[2019-12-19 16:28] #11 closed

[2019-12-19 16:29] jlholder commented on #8
Reviewed and working as expected

[2019-12-19 16:29] #8 closed

[2019-12-19 16:30] jlholder commented on #17
Acct provided: GPOAccountRequest@epa.gov

But not about to sent to EPA listservs from non-EPA Accounts

[2020-01-21 15:42] jlherring commented on #17
To get emails working in production, go ahead and hardcode Cheryl (Henley.Cheryl@epa.gov), Jenny (jholder@innovateteam.com), and Rob's (rhomsher@innovateteam.com) emails in the tool (not a group email/listserv). This will allow us to demo the tool fully before we find out exactly who's emails should be added from elsewhere in EPA

[2020-01-21 15:47] jlherring commented on #15
done!

[2020-01-21 15:47] #15 closed

[2020-01-21 15:48] jlherring commented on #10
@tommckennon are we excluding phone number from the directory for any specific reason?
![image](https://user-images.githubusercontent.com/17882165/72819637-97753780-3c3b-11ea-907a-e4b8a4ef8223.png)

[2020-01-22 17:53] tbock commented on #17
@tommckennon Can you make a change so EMAIL_RECIPIENT setting config is an array of emails and adjust code as necessary.  Also the FROM address for all emails should changed to an separate config which can be set to GPOAccountRequest@epa.gov

[2020-03-06 14:40] jlherring commented on #17
@tbock did this get done when we chatted about it the other day?

[2020-03-13 17:27] jlherring opened #23 "Change URL in production"
@tbock when you push updates, Cheryl would like the url to be r9.ercloud.org/ScribeExplorer

[2020-03-13 17:38] jlherring opened #24 "Update text on home page"
Update "Steps" to say "How to get started:"

and update "1. Become a Team Coordinator" to "1. Become a Team Coordinator (and assign Delegates)"

![image](https://user-images.githubusercontent.com/17882165/76645550-97a0fd80-652f-11ea-81da-daf67e30075d.png)

[2020-03-13 18:01] jlherring opened #25 "Add hover-over text to home page"
For the 4 buttons (Help icon and 3 main buttons) highlighted in the screen shot below, add the hover-over help text next to each arrow.

![image](https://user-images.githubusercontent.com/17882165/76647353-0cc20200-6533-11ea-8df9-8ec83ceb86a7.png)

[2020-03-13 19:00] tommckennon commented on #17
Hey @tbock . For this update, the local_settings module just needs to be updated with the following:
GPO_REQUEST_EMAIL_ACCOUNT = 'GPOAccountRequest@epa.gov'
RECIPIENT_EMAILS = ['Henley.Cheryl@epa.gov', 'jherring@innovateteam.com', 'rhomsher@innovateteam.com']

I suspect the RECIPIENT_EMAILS might need to be adjusted/finalized, but I believe these are the email request recipients to start.

[2020-03-19 14:19] jlherring opened #27 "Username issues in request list"
I'm getting the error that my username already exists no matter what I enter (even though this name 100% certain does not exist already)...

And on top of that, even if it does exist, it should still allow me to approve and just modify existing groups like the hover-over says:
![image](https://user-images.githubusercontent.com/17882165/77077019-0a482800-69cb-11ea-947b-830ed46de102.png)

[2020-03-19 14:20] #10 closed

[2020-03-19 14:21] #24 closed

[2020-03-19 14:21] #25 closed

[2020-03-19 15:14] tbock commented on #27
Needed to login again with admin creds

[2020-03-19 15:14] #27 closed

[2020-03-19 15:14] tbock commented on #17
deployed.

[2020-03-19 15:14] #17 closed

[2020-03-24 13:32] #21 closed

[2020-03-24 13:54] jlherring opened #28 "Redirect URL needs to be updated in pending requests"
Need to update the email to Sponsor when a new request is submitted in the tool b/c the link is still pointing to the old URL:
![image](https://user-images.githubusercontent.com/17882165/77431245-cc744680-6db2-11ea-8d4b-128712f4d563.png)

Let's update the body of the email to look more like other email notifications:

GeoPlatform Account Request(s) is pending your approval in the GeoPlatform Accou

[2020-03-24 20:55] jlherring opened #29 "Pending requests email to Sponsor AND delegates?"
So only Cheryl received the pending requests email. Can we confirm - pending request notifications need to go to the sponsor indicated AND that's sponsor's delegates.

[2020-03-25 15:07] jlherring commented on #3
still this @tbock

[2020-03-25 15:09] jlherring opened #30 "Batch approval forcing user to fill info out again"
Even though the individual users have all of their required info, when you try to batch approve, you're forced to edit and reassign the groups/coordinator/reason/description again:

![image](https://user-images.githubusercontent.com/17882165/77551800-1f203200-6e89-11ea-825e-e37061c68539.png)

[2020-03-25 15:30] jlherring opened #31 "May need to add accts w/o groups"
TBD - just want to have a record of this. Currently cannot add a user if you have not selected at least one group

[2020-03-27 13:13] jlherring commented on #28
@tbock updated the email text in master whenever you wanna deploy it

[2020-03-27 15:07] tbock commented on #28
done

[2020-03-27 15:07] #28 closed

[2020-05-07 18:23] tbock opened #32 "Add button to attempt to create account if creation failed for some reason but account is approved"
Or do we move creation to a scheduled task that happen?

[2020-05-07 18:24] tbock opened #33 "in approval list the selection isn't cleared if account are approved"
So this make the multiple edit dialog open even if only one person is selected at others are approved

clear selected array on approvals.

[2020-05-07 18:50] tbock opened #34 "Setup task to refresh groups nightly and also grab groups for which we don't have a record of when a user is found in a unknown group"

[2020-05-07 18:52] tbock opened #35 "Approve button is hidden when a groups are select for a user"
This should be restrict approval so button should be displayed.

[2020-05-07 18:54] tbock opened #36 "Verify team coordinator is being populated from submission and properly display in approval list"

[2020-05-07 18:56] tbock commented on #3
closed b/c partially fixed and remaining is in more specific issue #34

[2020-05-07 18:59] #3 closed

[2020-05-07 19:06] tbock commented on #35
closing as duplicate of issue #31

[2020-05-07 19:06] #35 closed

[2020-05-07 22:44] tbock commented on #32
now showing approve button for accounts that have not been created.  Perhaps this will lead to some confusion? @jlherring

[2020-05-11 15:53] #34 closed

[2020-05-11 15:53] tbock commented on #34
scheduled task setup to run nightly

[2020-05-12 21:41] torrin47 opened #37 "Sponsor ID numbers don't correspond to sponsors"
The list of accounts here:
https://request.ercloud.org/api/v1/account/approvals/
includes the following referenced sponsor IDs: 3,6,7,8
But the sponsors endpoint here:
https://request.ercloud.org/api/v1/account/approvals/sponsors/
has only two sponsor IDs, only one of which matches: 7, 12.
It looks like the other sponsor IDs correspond to delegates rather than coordinators. Perhaps there's a reaso

[2020-05-12 22:23] torrin47 opened #38 "Account requests need corresponding authgroups"
It looks like only coordinators and delegates have assigned primary authgroups, but we need the external accounts to be assigned to one and only one primary authgroup that isn't inherited from their sponsor (because sponsors/admins often oversee multiple authgroups).  It would be fine for primary authgroup to be set at the project/response level, as it's a reasonable assumption that each project/r

[2020-05-12 22:33] torrin47 opened #39 "Suggest Description field be initially populated with the project/response name"
This isn't a requirement, just a time-saving thought, since the intent of the description field is a succinct overview of why the account was created, and the project/response title is a great starting point for that.

[2020-05-12 23:22] tbock commented on #37
Those records almost certainly were created before we really restricted the sponsors to true sponsors and added the delegate stuff.  We probably need to go back and clean it up.  For example Jenny is 3 and should be 7 which is Cheryl.  Should be quick clean up.

[2020-05-12 23:30] tbock commented on #38
I think we had the role selection in the approval list at one point but was removed for some reason.  @jlherring can probably provide clarity.

I follow the rest.  Seems like we would need to add another input defining exactly which response/project they are, at least initially, being assigned to.  Currently only sponsors/delegates get that treatment just to control which groups they can assign pe

[2020-05-13 19:53] jlherring commented on #38
@tbock Yes - we had the ability to change roles at one point, but everyone we were adding was getting the same permissions (i.e. need to edit data in the field), so we took it out for efficiency.

But the "Limited External Collaborator" @torrin47 mentioned is new since we built the tool, and he has mentioned it in email, just haven't had a chance to implement anything.

As for auth groups, it has

[2020-05-13 20:05] jlherring commented on #37
Soooooooo Cheryl switches b/t 2 GeoPlatform accounts. So she is both 7 and 8. Is that an issue @torrin47?

But Travis was right - did have to take me/Rob off of some records created prior to the delegate option. Those are all cleaned up now.

[2020-05-13 20:37] torrin47 commented on #37
All that really matters is having a reliable way to link requested accounts to a sponsor geoplatform account. Doesn't matter to us if a sponsor bounces between accounts unless they somehow want us to reconsolidate their sponsees under one account later. If we can use the integer ID and the sponsors endpoint to make the link, we're good.

Still curious, though, about the question I meandered to. Is

[2020-05-13 21:00] jlherring commented on #37
hmm we could get there in a around-about way... but it isn't explicit if the sponsor/delegate is associated with multiple projects/responses. (GeoPlatform groups are associated with a project/response, and we're updating it so you also don't HAVE to add a user to a group).

So it could be auto-assigned IF a sponsor/delegate is only associated with one response. Or, if they're associated with multi

[2020-05-14 23:50] torrin47 commented on #37
Hrm, so in the tool, a project/response is really only a mechanism to link coordinators to delegates?
But if, as you say, a coordinator is associated with multiple projects/responses, and has different delegates for each project/response, how do requests end up in the right queue for the right delegates? The new user request form doesn't ask users what project/response they're involved in, it asks

[2020-05-18 20:36] tbock opened #40 "Disable CSRF on request form submission"

[2020-05-21 14:01] jlherring opened #41 "Track requests by response"
So, are we thinking we switch Team Coordinator to Response in the request form?

![image](https://user-images.githubusercontent.com/17882165/82566020-53426700-9b49-11ea-96c4-15c7e037930d.png)

Emails can still go out to sponsors (and their delegates) associated with the response.

B/c there could be multiple sponsors associated with a response (folks coming in to help from other regions), in the A

[2020-05-21 14:03] jlherring commented on #39
#41 would allow us to make this happen more easily

[2020-05-21 15:23] torrin47 commented on #41
👍  Definitely what I had in mind - seems intuitive.

[2020-05-21 17:03] tbock commented on #41
Yeah my only concern was keeping up with the "responses".  Sponsors don't change often but responses might?  But I guess, this response configuration was already kinda of required b/c of how the groups list is populated?  So do we think we can just leverage that and that will be enough?

[2020-06-15 17:26] tbock commented on #38
this is the main issue but the proposed resolution to this ended up in #41 ?

[2020-06-15 17:34] tbock opened #43 "Move Roles and Authoritative Groups to a managed table b/c they will change over time"
Currently Roles are hard coded into the system but this looks like it need to be moved to a table so admins can manage this list moving forward.

[2020-06-15 17:36] tbock commented on #43
@jlherring is the same for authoritative groups?  I know its hard code but looks to have same issue of likely changing over time (albeit slowly)

[2020-06-15 18:32] #31 closed

[2020-06-17 13:20] jlherring opened #44 "Delegate cannot be required"
Trying to add myself back to groups, but cannot save b/c Delegates is required.

![image](https://user-images.githubusercontent.com/17882165/84903028-91b14000-b07b-11ea-93b6-bb15254c040f.png)

[2020-06-17 13:27] jlherring opened #45 "What's happening in this description?"
When we talked yesterday, we were thinking the description would be a drop-down of response names. It would not be required, b/c if you didn't select anything, it defaulted to the name of the response the request is assigned to.

I does not appear to be required in the form, but looks like we still have the logic set up so the Approve button won't appear if it is empty.

It is still showing up as

[2020-06-17 13:34] jlherring opened #46 "500 Error on "Approve""
![image](https://user-images.githubusercontent.com/17882165/84904747-ae4e7780-b07d-11ea-86b4-3b57b2372c7a.png)

[2020-06-17 13:39] jlherring opened #47 "Admin Responses/Projects vs. Groups"
So what's the difference here?

![image](https://user-images.githubusercontent.com/17882165/84905238-65e38980-b07e-11ea-9712-7e54afb11611.png)

Responses/Projects is all the actual response info and Groups is now reverted back to just the django admin permissions?

In which case, we'd delete all the old response-specific groups? And when we create a new Response/Project, they would all be assigned

[2020-06-17 13:50] #32 closed

[2020-06-17 13:52] #30 closed

[2020-06-17 13:52] #33 closed

[2020-06-17 14:36] jlherring opened #48 "Define roles w/in an AGOL group?"
Chatted with Blair and there will be a few levels of access in the Survey123 groups.

1. EPA people that can see/edit everything (cool, doesn't really need to be handled w/ this tool)
2. State partners that can see everything but filter content to only their state
3. Citizen scientists that can only see what they submit.

So we may need to determine if we can not only assign users to an AGOL group

[2020-06-17 14:41] tbock commented on #48
Seems like something that should be handled in AGOL

[2020-06-17 15:12] tbock commented on #45
Its not a selection b/c response/project selection is already made.  It might be pointless now.

I will double check but the account selected in the screen shot also shows that the sponsor wasn't set yet.

[2020-06-17 15:13] tbock commented on #44
hm... yeah not sure when/why that happened.  fixed.

[2020-06-17 15:13] #44 closed

[2020-06-17 15:14] tbock commented on #43
Roles is a new table and a check box has been added to group to identify auth groups.

[2020-06-17 15:14] #43 closed

[2020-06-17 15:17] torrin47 commented on #48
Agree with Travis - those granular access levels can be handled by assigning the users to appropriate groups, and using those groups to control the level of access for items. So managers should be in one AGOL group, and citizen scientists should be in a separate group. The invite tool can help with group assignment, but all the rest of the permission setting is up to the application owner.

It may

[2020-06-17 15:23] tbock commented on #39
@torrin47 we are making description optional and NOT auto-populating with anything now that responses are a distinct field.  We are leaving in case someone wants to wax poetic about the account but otherwise it will be empty.

[2020-06-17 15:24] tbock commented on #39
issue #45

[2020-06-17 15:39] tbock commented on #45
fixed

[2020-06-17 15:39] #45 closed

[2020-06-17 15:40] tbock commented on #46
fixed

[2020-06-17 15:40] #46 closed

[2020-06-17 15:40] tbock commented on #41
done and deployed

[2020-06-17 15:40] #41 closed

[2020-06-17 15:41] tbock commented on #40
fixed

[2020-06-17 15:41] #40 closed

[2020-06-17 18:21] torrin47 commented on #39
Hrm. So there will minimally be an implicit connection between a user and a response based on the groups the user belongs to. If a user is associated with multiple responses, are you populating the response field with a list of those response ids?  I'm still kinda interested in the response names being visible in the GPO Dashboard, so if it's all the same to you I'd be inclined to ignore someone's

[2020-06-17 18:35] tbock commented on #39
There is now an explicit connection between an account being created and the response/project they are requesting. So you can just get it through that relationship.  See below.
`{
            "id": 73,
            **"response": 1,**
            "first_name": "Apollo3",
            "last_name": "Apollo3",
            "email": "aherring@innovateteam.com",
            "possible_existing_account": "",

[2020-06-17 18:53] torrin47 commented on #39
Yup, saw that, and that's why I was inclined to harvest that info and stuff it into our Description field and ignore your Description field.  My only question was whether account/response was always 1:1, or whether an account could be assigned to more than one response, but I guess I realize this object isn't a user object, it's a request object. So a request can only be associated with one respon

[2020-06-17 18:53] #39 closed

[2020-06-18 19:12] jlherring opened #49 "Broke Response/Project Form"
This guy stopped working w/ our response updates:
![image](https://user-images.githubusercontent.com/17882165/85062228-1b453880-b176-11ea-8cd7-73773a1fe0f3.png)

[2020-06-18 19:23] tbock commented on #49
update coming in hot @jlherring

[2020-06-18 19:28] tbock commented on #49
fixed and deployed

[2020-06-18 19:28] #49 closed

[2020-06-18 19:28] #48 closed

[2020-06-22 21:04] tbock opened #50 "Add ability to set group and or pre filter group list in request form based on url and/or query params"

[2020-06-22 21:05] tbock opened #51 "Add ability to disable a ResponseProject and notify sponsors/delegates"

[2020-06-23 15:16] jlherring opened #52 "AGOL group drop-down not populating"
So I have my AGOL groups assigned in the admin:
![image](https://user-images.githubusercontent.com/17882165/85421903-f91b3400-b542-11ea-9bd1-b36e4a30d0d2.png)

But nothing shows up when I select my response on the front end:

![image](https://user-images.githubusercontent.com/17882165/85421929-03d5c900-b543-11ea-9c6b-99bd8229ed7e.png)

[2020-06-23 15:19] jlherring opened #53 "Remove description"
We don't need it, so let's keep it short and sweet:
![image](https://user-images.githubusercontent.com/17882165/85422283-7050c800-b543-11ea-8be6-30811a5d43c0.png)

[2020-06-23 19:20] #47 closed

[2020-06-24 15:54] jlherring opened #54 "Update acct approval form"
"Response" --> "Response / Project"

"Reason" --> "Reason / Affiliation"

[2020-06-25 17:26] tbock commented on #52
unable to reproduce.

[2020-06-25 18:50] tbock commented on #52
reworked how people can access responses/groups.  Sponsors only are now assigned to a response and delegates inherit access to these response and the agol groups related to the response

[2020-06-25 18:51] tbock commented on #53
gone.

[2020-06-25 18:53] tbock commented on #54
You will be assigned to this reason / affiliation.
... makes no sense now...

not exactly sure what to change it to

[2020-06-25 18:55] tbock commented on #38
data model reworked to force identification of a response or project for which the account is being requested.  These response/projects have a auth group and role assigned to them behind the scenes for gathering by NGST.

Deployed.  Please review @torrin47

[2020-06-25 18:59] tbock commented on #37
Request form now asks for response/project instead of Sponsor.  Multiple sponsors can be assigned to a response/project for notification purposes.  However, the final actual sponsor is selected when the account is approved.  Either automatically b/c approver IS a sponsor or based on who the delegate is a sponsor for (if only 1 possible the sponsor is automatically selected as well in the form).  I

[2020-06-25 19:00] tbock commented on #36
This is no longer relevant since team coord (aka sponsor) is selected at approval and not at request.

[2020-06-25 19:00] #36 closed

[2020-06-25 19:01] tbock commented on #29
Emails should now be going to sponsor and delegates.  However, since we moved the email notification sending to onsite at R9 it is completely down.  Perhaps we can move this script to another location.... hint hint.

[2020-06-25 20:25] jlherring commented on #54
Where you seeing "You will be assigned to this reason / affiliation." @tbock ?

[2020-06-25 20:27] #53 closed

[2020-06-25 20:30] tbock commented on #54
ignore me

[2020-06-25 20:31] #54 closed

[2020-06-25 20:32] jlherring commented on #52
muuuuuuuuch better

[2020-06-25 20:32] #52 closed

[2020-06-25 21:32] torrin47 commented on #52
Still can't seem to get anything to appear in the responses dropdown - getting a 500 error under the hood:
![image](https://user-images.githubusercontent.com/2127036/85797536-d38c5700-b709-11ea-9057-8bb41ee98f54.png)

[2020-06-25 21:34] tbock commented on #52
yeah got the error msg.  fix incoming.

[2020-06-25 21:41] tbock commented on #52
This was actually a different issue but its fixed @torrin47

[2020-06-25 21:50] torrin47 commented on #38
Ok, in the admin interface I was able to correctly assign a default role and groups to a project response.  Seemed great. I went and registered a public user with that response, but when I log in as the coordinator, no groups or sponsors are populated, and I can't assign the response or the groups:

![image](https://user-images.githubusercontent.com/2127036/85798937-60d0ab00-b70c-11ea-87cb-f5fe588

[2020-06-25 21:52] torrin47 commented on #37
I'm not seeing the term "sponsor" in the request tool, just the term "coordinator". Are those functionally synonyms?

[2020-06-26 14:05] jlherring commented on #37
Correct. I can't remember who decided on that change, but that was tweaked fairly early on. Admittedly, I think we still say "sponsor" everywhere on the Django admin side, but those are one and the same.

[2020-06-26 15:35] tbock commented on #38
Yes that's expected b/c you are not assigned to a response.   However, it just dawned on me that your dashboard account will need to see all responses.  I did that for the groups last time so just need to rework that code to do the same with responses.

[2020-06-26 16:27] tbock opened #55 "Need to change this auth group choices to pull from the agol groups flagged as auth groups"
Right now this list is hard coded.  Should be changed to pulled from db.
![image](https://user-images.githubusercontent.com/4040295/85879453-3e33a600-b78f-11ea-8c11-6a3f72886899.png)

[2020-06-29 14:24] jlherring opened #56 "Sponsor/Delegate not inheriting permissions"
Started testing w/ Blair. He is not able to see any account requests unless he is a superuser.

Something is definitely off with the Sponsors/Delegates.

He still could not see requests as a Delegate to Sam, as a Sponsor himself, or as a staff status. Could only see them as a superuser.

He is presenting to the OW team today at 9am PST/12noon EST. If we can tweak before then, awesome. If not, need

[2020-06-29 14:33] tbock commented on #56
who is he a delegate for?

[2020-06-29 14:51] jlherring commented on #56
Samantha Fontentelle

[2020-06-29 16:44] jlherring opened #57 "Enable searching on organization field"

[2020-06-29 18:40] torrin47 opened #58 "Trigger email to user allowing them to set their own password"
So there's an undocumented REST endpoint for AGOL that corresponds to this option in the standard interface:

Here's the codeblock from our dashboard that does this:

[code]

It's not much different from the normal add user function - a POST request with token and the user properties, but instead of a password, it accepts a message that gets sent to the user via email. Being able to edit this mess

[2020-06-29 21:21] tbock commented on #56
Fixed and deployed.

[2020-06-29 21:21] #56 closed

[2020-06-29 21:21] tbock commented on #29
Done.  and servers are back up

[2020-06-29 21:21] #29 closed

[2020-06-29 21:22] tbock commented on #37
Can this be closed?

[2020-06-29 21:23] tbock commented on #38
Can we close this?

[2020-06-29 21:23] tbock commented on #57
Done and deployed

[2020-06-29 21:23] #57 closed

[2020-06-29 21:29] jlherring commented on #37
If @torrin47 says it can be closed, I'm good

[2020-06-29 21:33] torrin47 commented on #37
Done.

[2020-06-29 21:33] #37 closed

[2020-06-29 21:34] torrin47 commented on #38
Yup.

[2020-06-29 21:34] #38 closed

[2020-06-30 18:41] torrin47 commented on #43
How does a coordinator communicate to the admin team which role their response should be assigned to? Role isn't a choice on the Response / Project Request Form, so does that just happen via email?

[2020-07-14 16:05] tbock opened #60 "Remove Sponsor from required checks before approval"
Sponsor is now captured automatically based on who the approver is and can no longer be physically selected.  This requirement for approval needs to be removed in order to prevent any confusion.

[2020-07-14 16:19] tbock commented on #58
@torrin47 can you confirm the link expires in two weeks?

[2020-07-14 19:11] torrin47 commented on #58
That was definitely the case in the early days, I haven't tested recently. On multiple occasions the invitation emails were ignored or routed to spam folders, but it's been a long time since I've heard of that happening (maybe Dick and Claudia just handle it as routine these days). One annoying "feature" is that even though the invitation expires, the username is still reserved until manually dele

[2020-07-28 13:24] jlherring opened #62 "Paging not working in list view"
Paging does not appear to be working from the list view. I cannot change pages, and changes Items per page does not affect the number displayed. I can tell there are definitely more than 25 records total b/c I see different entries when I sort by name/org/etc.

![image](https://user-images.githubusercontent.com/17882165/88671271-1ac48980-d0b4-11ea-9f19-d2b442656977.png)

[2020-07-28 15:03] tbock commented on #62
fixed

[2020-07-28 15:03] #62 closed

[2020-08-26 17:18] jlherring opened #63 "Delete non-approved account requests from accounts list"
OW would like to be able to delete requests from the UI, rather than beeping us to remove in the admin

[2020-08-26 17:20] jlherring opened #64 "Delete acct requests from frontend"
OW would like to be able to delete requests from the UI, rather than beeping us to remove in the admin

[2020-08-26 18:28] jlherring opened #65 "Remove spaces in names"
Automatically remove spaces in names (first, last, any extra ones floating around) so that the auto-generated username doesn't have spaces. Otherwise it'll fail

[2020-08-27 14:22] jlherring opened #66 "Prevent users from submitting multiple requests"
If possible, prevent the user from clicking submit again before the request has gone through - users continue to click submit until they see the page update, leading to a ton of duplicate entries for each request.

[2020-08-27 17:06] tbock commented on #66
I don't think this is a click thing... before the request is even sent to the server the submit button is disabled.  Also some of the duplicates are actually slightly different so I suspect people are not realizing that the form submitted.  Adjusted snackbar messages to make more visible and require dismiss on success.

additional actions
1) send confirmation email to requestor
2) prevent duplicat

[2020-08-31 17:25] tbock commented on #65
Deployed

[2020-09-25 14:08] jlherring commented on #64
not sure why this issue submitted twice. deleting the dup.

[2020-09-25 14:08] #64 closed

[2020-09-25 14:09] jlherring commented on #65
working for me

[2020-09-25 14:09] #65 closed

[2020-09-25 18:16] jlherring commented on #58
Got some START feedback today that this option would be useful

[2020-09-25 18:18] jlherring opened #67 "Add AGOL group down-down to acct request"
Feedback from START - if possible, team would like to also select which groups a user needs access to in the account request itself.

First time hearing this, so putting it in the parking lot to see if we can any additional/similar feedback.

Maybe populate the groups after the user selects a response? Make groups optional?

[2020-09-25 18:20] jlherring opened #68 "Indicate when a user should be disabled/taken out of a group"
Karl mentioned this a few times, not necessarily in the tool. But major issue of knowing who/when to remove people from groups when they demobilize from a response. And/or if the account can be deleted all together.

Maybe something we try to tackle here? TBD

[2020-09-28 15:36] jlherring opened #69 "Add Response filter to table view"
For admins/teams working on several responses, this will help narrow down the pending list quite a bit

[2020-09-29 17:17] tbock commented on #67
Seems like this is overcomplicating it.  One of the main goals with this process is trying to keep it as simple as possible.  The current request form is for anyone, including the public.  It maybe be necessary to create a new form inside the list to allow delegates and sponsors to enter account requests directly.

[2020-10-01 17:12] jlherring commented on #67
Cheryl agreed to keep it simple, closing this one

[2020-10-01 17:12] #67 closed

[2020-10-13 18:09] torrin47 opened #70 "Expose agol account of sponsors via REST API"
The GeoPlatform Dashboard requires agol accounts as unique identifiers of sponsors, but the request tool only exposes the full name and email address of sponsors - and many GPO admins have many agol accounts tied to their name and email address.

Since the agol account of each sponsor is stored in the request tool database for login purposes, it would be very helpful if that account could be expos

[2020-10-13 18:18] tbock commented on #70
Can't just add it to the sponsors endpoint b/c that is exposed publicly... could conditionally add it there but instead going to conditionally add it to the approvals endpoint.  To get details you must add `include_sponsor_details=true` query parameter.  This will change the sponsor attribute to a nested object with all sponsor details including username.

[2020-10-13 18:19] tbock commented on #70
Deployed: https://request.ercloud.org/api/v1/account/approvals/?include_sponsor_details=true

[2020-10-13 19:22] torrin47 commented on #70
Fantastico!

[2020-10-13 19:22] #70 closed

[2020-10-15 16:14] torrin47 opened #71 "Add flag to join response name to approval?"
Since the last enhancement seemed so quick and easy, we're going to try for one more. Could we also request a include_response_name=true flag to join those names to the approval output? If it's a small thing on that end, it saves some extra traffic on our harvesting end.

[2020-10-20 14:17] jlherring commented on #63
Let's add a delete button here. When a pending request is checked, the Delete option will always show up:
![image](https://user-images.githubusercontent.com/17882165/96598290-b7b24f80-12bc-11eb-99cb-f7ae1226cf2f.png)

Provide a confirmation dialog, including the FirstName LastName of the request(s) selected, like this:
![image](https://user-images.githubusercontent.com/17882165/96599021-79696000-1

[2020-10-20 14:41] tbock opened #72 "Account Request admin search throwing errors b/c fields are being included in search that should not be"
https://github.com/USEPA/GeoPlatform-Request-Tool/blob/083cbce7a77e3ad080562260487134a0b5cf6893/accounts/admin.py#L76

Adjust search_fields at line above to be its own setting and remove inappropriate fields.  Also enable filtering on appropriate fields while making this change.

[2020-10-20 19:58] jlherring opened #73 "Add accounts from other orgs"
This question came up on the EMIT call 10/20, and think Solana and I have run in to a few issues. Occasionally, the tool finds accounts with the email provided that are not in the EPA org, but we get errors. It appears to only be private accounts, not ones associated with a different organization, but unclear, need to investigate.

I know editing rights are sometimes complicated with accounts outs

[2020-10-20 21:24] tbock opened #74 "Too many groups to choose from in the response form and its is causing rendering to be very slow"
Likely should switch to an autocomplete with chips like we've done before so users can search and select with the selection being visible.
https://request.ercloud.org/field-coordinator-er-request

[2020-10-20 21:28] tbock opened #75 "Team coordinator drop down empty in response request form"

[2020-10-20 22:27] tbock commented on #75
Fixed and deployed

[2020-10-20 22:27] #75 closed

[2020-10-27 16:31] jlherring commented on #51
Think we keep this simple - some sort of checkbox or yes/no in the admin? Once a response is "disabled" it will no longer be an option in the response drop-down on the frontend.

Quite a bit of discussion about who is responsible for actually tracking/cleaning up the accounts created after a response. In theory, this is always the Coordinator. In reality, .... meh. Rob mentioned maybe just sending

[2020-10-27 16:40] tbock commented on #51
I mean... yes... but I had always intentioned that we could build out some sort of automation around this.   Perhaps something like.  If account is created from this tool, not just added to groups, disable it once it has been inactive for X number of days.  I believe we've talked about this and there is some objection but it seems fairly safe to me to shutdown an account created during a response

[2020-10-27 17:07] jlherring commented on #51
I think that makes sense, but like you said - lots of disagreement on the topic. Not sure who has the final say?

[2020-10-27 17:54] tbock commented on #51
I wonder what repercussions of disabling an account in agol are.

[2020-10-27 20:37] torrin47 commented on #51
Disabling accounts is pretty safe - it just prevents the user from logging in or resetting their password (which would need to be changed before a successful login after 60 days anyway). Otherwise the account and any content stays put. I guess it could collide with another user of the same name, but that's a pretty minor concern. Re-enabling is also easy.

I totally agree with the request to check

[2020-10-27 21:00] tbock commented on #51
So... do we include a link to this easy button in the admin and/or send an email when a response is "disabled" to the sponsors with a reminder and link to the easy button? Can we logically build/is it possible to create a link to dashboard with query params set to filter users that are attached to the response?

[2020-10-27 21:20] torrin47 commented on #51
Our dashboard doesn't have a disable or delete function, we've always linked to AGOL for that, and their interface finally does accept multiple usernames - we have a ticket in our backlog to generate easy links like this where an admin could take action in bulk.

https://epa.maps.arcgis.com/home/organization.html?showFilters=false&start=1&view=table&sortOrder=desc&sortField=lastlogin&searchTerm=th

[2020-10-27 21:40] tbock commented on #51
I guess the only question is... do we build link to everyone? We don't need to since we know which accounts were created for this response (at least through the tool).  Do we also remove EPA staff accounts from the list?   Just do EXT accounts that were created or all EXT accounts?

[2020-11-30 16:51] tbock opened #76 "Error occuring when users are attempting to approve multiple accounts if those accounts are a mix of new and existing accounts"
I believe this is the error encountered by Chris Wharton but need to investigate further to fully reproduce.

[2021-01-07 18:58] jlherring opened #78 "Re-enable matching accounts for new requests if found and treat like existing account after re-enable-ment."
Chatted with Solana today and deciding whether we should delete or disable accounts of folks from the response.

Deleting seems cleaner, but Solana was leaning toward disabling since a lot of these people do cycle back in eventually.

But my thought is... if we disable folks that really only ever work on responses, most likely than not, they'll have no idea how to get in to their account a year fr

[2021-01-07 19:40] tbock commented on #78
idk... still seems like just point to AGOL like discussed in issue #51 is best.  What's the benefit of "disabling" assuming thats something we can actually do?  They retain some content/group permissions? What about their content?

[2021-01-07 19:46] jlherring commented on #78
Exactly, you could pull them back in if needed, and think their content is untouched if you just disable. Think it is def related to #51 - but on the other side. In my mind, #51 deals with decommissioning/ending a response.

Here I'm thinking more about when a new response starts - we'd need to be able to access and kickstart the disabled accounts from a previous response in a new context.

[2021-01-07 19:50] tbock commented on #78
So really just finding a matching disabled account like we find existing accounts and reenabling it and then treating it like an existing account.  Disabling/Deleting should still be handled like discussed in #51?

[2021-01-07 19:52] jlherring commented on #78
That's my thinking

[2021-01-12 16:08] tbock opened #79 "Hide Geoplatform item drop down input unless we find items to choose from"

[2021-01-25 20:30] jlherring opened #80 "Add if user was created in the tool or previously in AGOL"
Solana asked about adding an AGOL created date (rather that date a record is created in the tool), but think we could just as easily flag which accounts were created with the tool and which were just added to groups (i.e. existing accounts)

End goal is to help flag which accounts to keep (likely anything that existed before) and which accounts to nuke (likely created just for the response)

[2021-02-12 18:42] jlherring opened #81 "Send new project request emails to Coordinator Admin group members"
Notices about new projects are hardwired to Cheryl/Jenny/Rob and still going to Rob's Innovate email that no longer exists. Need to swap to Rob's EPA email

[2021-02-12 18:54] tbock commented on #81
Let make this NOT hardcoded.  @tommckennon please add a attribute to users (we already have a model for this) to indicate who should be notified for new project quests and just use their user's email address.

[2021-02-12 18:57] tbock commented on #76
@tommckennon please replicate the issue first and let me know.  Maybe we should use our own Portal to replicate this?

[2021-02-16 01:43] tommckennon commented on #81
To confirm, is this for Request Tool email notifications that include subject text _Project Request for Review in GeoPlatform Account Request Tool_. If so, I notice presently that the recipient emails for those notifications are configurable (RECIPIENT_EMAILS). If we don't want to manually configure these email recipients, I'm wondering shall the email recipients for the project requests be apart

[2021-02-16 03:10] tommckennon commented on #80
@jlherring , I'm wondering if the request's **approved** date field accounts for this? That field is being filtered and it displays which ones that have had accounts created in AGOL for them. Perhaps does it make sense to visualize in the list which account requests without an approval / account created have been created back a certain timeline (e.g. 6 months or so)? In the open PR there is functi

[2021-02-16 04:24] tommckennon commented on #51
When would we want to notify admins/sponsors/coordinators of specific response projects? I'm thinking we still need a date field added to those response project records to know when it's useful to send that notification for the., It would also allow there to be a link to the old response projects only visible/accessible to the tool admin users in the edit dialog. Thus, I think it can be manual as

[2021-02-16 05:28] tommckennon commented on #76
@tbock , I take it this is a bug within the v1/account/approvals/approve api call. First thought about this bug is that the user shouldn't be able to make this call for existing accounts, correct? It looks like logic has been in place to prevent such an action from occurring. Perhaps there's a hole in the logic or workflow to prevent this from occurring (i.e prevent approve api call on existing ac

[2021-02-16 20:48] tbock commented on #81
No.  It can't be sponsors ... that's too broad.  Though you could just create another group and we could use that.

[2021-02-16 20:54] tbock commented on #76
There is a hole in the logic.  The "approve" for existing accounts is certainly a misnomer but it they are being "approved" in the context of the application.

[2021-02-16 21:04] tbock commented on #80
I don't think the approved date field shows that does it?  It shows in the tool when someone checked their account and clicked approve.  And created looks like it populated for everyone as well but I'm not entirely sure how that is being populated for existing accounts.  Maybe it pulls from AGOL?

[2021-02-16 21:45] tbock commented on #51
I think "Rob mentioned maybe just sending an automated email to coordinators/delegates when a response is disabled? We add some sort of note about "your response is over. ok, now go take responsibility and remove users from groups or disable their accounts, as appropriate" - some kind of disclaimer and then we're out" says it all.

We disable the response. An email is sent.  That email includes th

[2021-02-16 22:13] tommckennon commented on #51
@tbock, I follow. @jlherring and @tbock , do we want to provide this disabling from within the admin console? What permissions if any for those who can disable project/responses? Would we want to notify admins/sponsors/coordinators on each of those email notices?

[2021-02-16 22:16] tbock commented on #51
No additional permissions needed I think.  Just notify the assigned sponsors and their delegates.

[2021-02-16 22:16] tommckennon commented on #81
@jlherring , go forth on a new group for these new project email recipients? If so, good name for group?

[2021-02-16 22:33] jlherring commented on #80
After a response/project, we have to use the list to clean up the accounts in AGOL and determine which were just temporary and which need to stay long term. One way to help make those decisions is to know if this account existed in AGOL before anything was ever requested in the tool.

If you already had an account and were just added to groups, the overall assumption is that you have an ongoing ro

[2021-02-16 22:44] jlherring commented on #51
So @tbock @torrin47 are we agreeing that we notify users to go handle their business in AGOL? We do not put any kind of button that disables the users themselves?

Thinking it is configured in the admin. Jenny says "disable" on a response - it triggers an email to all sponsors/delegates. Sponsors/delegates come to the tool, look through their list of approved ppl (i.e. include #80), and then they

[2021-02-16 23:05] torrin47 commented on #51
That's how we handle it in the dashboard. It's pretty easy to link directly to the GPO page for a single user to manage their properties and/or disable:

https://epa.maps.arcgis.com/home/organization.html?showFilters=false&start=1&view=table&sortOrder=desc&sortField=lastlogin&searchTerm=tbock03_EPA&searchBy=username#members

It's also possible to link to a table with many users, but because Esri,

[2021-02-17 00:00] tbock commented on #80
You should be checking in here: https://github.com/USEPA/GeoPlatform-Request-Tool/blob/fb18cfd2062a3f9bbf030289ce6abff5ff8423cd/accounts/models.py#L247

This actually does what is needed but currently we just capture the existing username and agol id and move on.   We can then tell if they have an account b/c agol id is populated.  HOWEVER, once we create the account later we capture agol id so we

[2021-02-17 14:46] tommckennon commented on #51
Thank you all for explaining these details.

[2021-02-17 17:04] tbock commented on #58
@jlherring Any input on how to rework the email message to be response specific?  Just simply mention response at the beginning?

{{sponsor.fullName}} has invited you to join an ArcGIS Online Organization, EPA GeoPlatform Online, as part of {{R06 TX USCG Routine Spills Tracking}}.

@torrin47 assumption here is that we can't control the subject line?

[2021-02-17 17:25] jlherring commented on #58
I like that @tbock

[2021-02-17 17:28] tbock commented on #81
@tommckennon We already have a group called Coordinator Admins.  You can use that.

[2021-02-17 18:08] tbock commented on #58
@tommckennon I believe backend parts are done but need to be tested some more. As for the frontend...

Instead of the approve button going directly to the set password dialog it should ask if they want to WANT to set a password or let user set password.  Not sure how to word that (thoughts @jlherring).   If they DON'T want to set password I think that's it... perhaps a confirmation of that and the

[2021-02-17 18:48] torrin47 commented on #58
Assumption correct @tbock, as far as we know there is no way to alter the subject line, Esri only allows us to insert text into the body.

[2021-02-19 05:32] tommckennon commented on #76
@tbock, the backend unit tests added to tests.py that we discussed for the request account approval workflow looks to have have tracked down the bug occurring when users attempt to approve multiple accounts that are a mix of new and existing accounts (#76). If such a request is made, it will always **"Error creating and updating accounts"**. The following simple change looks to resolve the issue.

[2021-02-19 20:34] tommckennon commented on #58
@jlherring , we'll be doing the following simple / straight forward approach for this:
![image](https://user-images.githubusercontent.com/28331071/108558455-c6cafd80-72ae-11eb-89e8-7cb6b095a9ec.png)

[2021-05-04 14:52] tbock opened #85 "No check boxes to select requests for approval after the first page"
![image](https://user-images.githubusercontent.com/4040295/117023045-98559f80-acad-11eb-83a5-c59e386ea6f4.png)

[2021-08-09 15:13] jlherring opened #92 "Add sponsor to responses/projects admin page"
![image](https://user-images.githubusercontent.com/17882165/128729895-5b3a4cd7-b68a-4ad0-8dde-f41b7c650c34.png)

[2021-09-07 18:31] jlherring opened #95 "Associate responses with django user, not email"
![image](https://user-images.githubusercontent.com/17882165/132393758-4a155863-461c-4641-b30a-7f6e3dbf993c.png)

[2021-09-09 19:11] tbock opened #96 "Investigate status of auth libraries"

[2021-09-13 20:12] tbock commented on #95
fix deployed

[2021-09-13 20:12] #95 closed

[2021-11-15 17:25] tbock commented on #58
Well our message isn't overriding existing message it is prepending it (wondering if something changed since this was created since the format of the invitation emails form dashboard are different now).  So unless I'm missing something, can we just live with this?  Basically we add a line at top with sponsor and response/project info.  Add password requirements after than and then just use the res

[2021-11-15 17:43] torrin47 commented on #58
That reference to geoservices applies to all password reset emails - only one value is permitted and it's set at the organization level.  I think it's totally ok in this scenario as well.

[2021-11-16 23:19] tbock commented on #58
deployed in pr #98

[2021-11-16 23:19] #58 closed

[2021-11-19 18:22] jlherring opened #99 "UI updates"
Account request becomes the landing page again. Team coordinators/response pages go away and get simplified into a dialog from the landing page. Related to #50 , so landing page as the ability to add query params

New landing page:
![image](https://user-images.githubusercontent.com/17882165/142671643-03bd4824-6bd4-4305-af0e-fcf7517d812f.png)

"Configure New Response/Project" button opens a dialog

[2021-11-23 16:37] tbock opened #100 "Should we move Request to be team coordinator behind login?"
I believe there was a reason for displaying team coordinators but does the request to be one need to be open?  Seems like requiring login for this request is not a big deal (they all have to have accounts already no?)

[2021-11-23 16:57] tbock commented on #100
The changes in PR #77 moved the auth group list to a service call that is locked behind the login.  So it is currently blank if not logged in.

[2021-11-23 16:59] tbock commented on #100
Sorry if I'm rehashing things.  But now that we have Resposne/Projects and those have Auth Groups... why does Team Coordinators need to even be associated with an auth group?

[2021-11-23 17:05] jlherring commented on #100
So I never totally understood why the response request required login, but team coordinator did not. You aren’t a team coord yet, you wouldn’t have a log in for the request tool.

If anything, whole coordinator page should have required login to see the list of existing names.

Is it too complicated to allow anyone to submit if they aren’t an existing coord (they have to provide all their info)? B

[2021-11-23 17:20] tbock commented on #100
Well I'll add to the pile.  If they are requesting to be a coordinator they have to ALREADY(?) have an AGOL account.  Forcing them to login provides us with their name, email and username.  We could still offer those inputs but easily prepopulate from the AGOL user account.

I think auth group got moved to response/projects at some point b/c we realized we couldn't always use the sponsors auth gro

[2021-11-23 17:25] tbock commented on #100
But it does need to be moved to the response request form.  Seems like we have just been inferring the auth group from the team coordinator request?

[2021-11-23 17:27] tbock opened #101 "Add auth group input to the response/project request form."
Since auth group is handled at the response/project level we should request this info in this form.

Since we will make changes here should we also move away from this email system and allow this form to create the response/project but with a pending status until a "coordinator admin" goes in and approves the response/project?

[2021-11-23 17:28] tbock commented on #100
Opened issue #101  to move auth group to response/project request form.

[2021-11-23 17:32] tbock commented on #43
@jlherring Seems like @torrin47 question never got answered ☝️ ... Since we are discussing making changes to the response/project form this seems like a good time to add the role to the form as well? Unless there was a reason it wasn't included.  Only reason I can think is b/c of simplicity.  Most sponsors/coordinators don't know the answer to this and just want the default.  Do we provide the def

[2021-11-23 17:36] jlherring commented on #101
No objection here. Would we just get a notice to go approve a new response?

[2021-11-23 17:38] tbock commented on #101
Yep that's my thought.   Are we still the only ones creating response/projects?  If so yes just provide link to response/project in admin with a approve or enable or something check box.   If its becoming a bigger group then we could discuss adding to the main UI with a cleaner process.

[2021-11-23 17:38] jlherring commented on #43
Yeah, always just been a convo in the past. Now that we have so many groups, prob worth tossing it in the form, especially since we’re simplifying from two forms to one anyway

[2021-11-23 17:41] jlherring commented on #101
Yeah, we’re still the only ones creating new responses/projects. I don’t see that changing soon

[2021-11-23 18:07] tbock opened #102 "Combine team coord/sponsor and response/project forms into one form that requires login"
If the user is a sponsor that is not setup yet we will need to figure out a way to put them in a kind of holding zone until we jump in a approve it.  They can still login but won't be a sponsor until we adjust their account.  Do we force create the response/project with a kind of pending status and make them the sponsor?  I will need to play around with this a bit.

If the user is a delegate then

[2021-11-23 18:07] tbock commented on #102
We will add role as an input per discussion in #43

[2021-11-23 18:08] tbock commented on #102
Only other thing missing I think is who are the delegates for the sponsor if they are new?  Do we provide input for that somehow or setting up a sponsor just becomes a little bit of a discussion?

[2021-11-23 18:09] tbock commented on #101
Doing this for now and will address issue #102 after this PR is merged/deployed.

[2021-11-23 18:19] jlherring commented on #102
We don’t currently have an input for it. If we do want to, we’d need the option for multiple

[2021-11-24 16:13] #63 closed

[2021-11-29 19:20] jlherring commented on #74
looks good in staging. assuming we'll just pull this functionality over in #99 @tbock

[2021-11-29 19:20] #74 closed

[2021-11-29 19:23] jlherring commented on #55
Looks like we pulled this from coordinator request and put in response request. assuming it needs to be in #99, but safe to close this issue @tbock ?

[2021-11-29 23:03] #66 closed

[2021-11-29 23:05] jlherring commented on #51
Not seeing this functionality anywhere @tbock. Maybe I'm missing it

[2021-11-29 23:08] jlherring commented on #81
The group we use is now "Sponsors and Delegates (required to edit/approve)" - do we need to swap to this @tbock? or already done?

[2021-11-29 23:35] jlherring opened #103 "Allow admin to set default reason/affiliation for a project"
Right now, all default to ER, which is no longer the majority.

Thinking we add it to the request form in #99 to allow the coordinator to submit. Then we can automate it into the set up.

[2021-12-03 14:44] tbock commented on #51
https://r9data.response.epa.gov/apps/staging/request/api/admin/accounts/responseproject/7/change/?_changelist_filters=q%3Dfire
![image](https://user-images.githubusercontent.com/4040295/144621627-be31e54f-5397-4cdd-af94-258454a13c3e.png)

[2021-12-03 17:14] jlherring commented on #51
great! didn't get an email, but not sure if that's a staging issue

[2021-12-03 21:26] tbock commented on #55
yep its pulling from database now

[2021-12-03 21:26] tbock commented on #81
No thats a different group. Coordinator Admins need to be assigned so they get this email.

[2021-12-06 16:34] tbock commented on #99
@jlherring seems like this is tied to #102 or at least should be tied together?

[2021-12-06 18:48] jlherring commented on #99
@tbock yup!

[2021-12-07 17:20] tbock opened #104 "Add reminder emails for pending notifications."
We are starting to see accounts build up in the system.  I'm guessing some of them can be deleted but wondering if some have just been forgotten about.  Should we setup a daily email reminder for anyone who has pending accounts to approve or reject?

[2021-12-07 17:20] tbock commented on #104
@jlherring ☝️

[2021-12-09 19:09] tbock commented on #60
I believe this is no longer true.  I see no current issues around this.  @abprins @jlherring ?

[2021-12-09 19:13] tbock commented on #68
The link that is now being provided when disabling a response only includes accounts that were created by our tool.  Perhaps we should clarify this in the email and admin.  However this is only for ones after we deploy this...

[2021-12-09 19:55] tbock commented on #71
Well this is a delayed response.  Looking at this now.  My assumption here is that you would never do `include_sponsor_details=false&include_response_name=true`

If that is the case then would be easier to just combine into a single query param `include_all_details=true`.

Then you would get something along the lines of
[code]

We can leave the existing query param in place for now and add this.

[2021-12-09 19:56] tbock commented on #72
Resolved

[2021-12-09 19:56] #72 closed

[2021-12-09 20:17] tbock commented on #85
Appears to have been resolved somewhere as I can no longer replicate.

[2021-12-09 20:17] #85 closed

[2021-12-09 20:56] tbock commented on #73
The system errors out on both public and other organizational accounts.  Public b/c public users can't be added to organizational groups at all "If you have a public account, you can only join groups owned by public accounts. If you have an organizational account, you can only join groups owned by organizational accounts."  Other orgs b/c the system adds users directly.  Instead for other organiza

[2021-12-09 22:59] tbock commented on #78
to do list
- [ ] re-enable disable accounts
- [ ] notify users their account has been re-enabled
- [ ] ??? figure out what to do about password ???

[2021-12-10 18:11] tbock commented on #73
There maybe other org to org issues as I failed to add a org user to another org group via the AGOL UI.

[2021-12-10 18:13] #96 closed

[2021-12-15 23:00] tbock opened #107 "Need to provide feedback if someone tries to submit a request that is unknown and doesn't have epa.gov address"
At this point it goes back to the admin login without explanation.

[2022-01-26 19:47] abprins opened #109 "Send email to requestor confirming receipt of account request"
Email should say something like:

"We have received your request for a GeoPlatform account. You will receive a follow-up confirmation after the request is reviewed."

[2022-05-18 21:45] abprins commented on #69
Not all responses are available in the filter list. For example, the OW Freshwater and Marine Sanitary Survey doesn't show up in the filter list, but the account requests for that response do show up in the app.

[2022-05-19 14:50] abprins opened #110 "Some approved accounts aren't being created"
Some account requests that we are not responsible for are being approved but not created. I've tried to force the account creation using the normal method in the app, but it doesn't do it.

![image](https://user-images.githubusercontent.com/62261480/169324597-37ac5d81-c92b-46f7-a694-7450ae560987.png)

[2022-05-20 14:30] jlherring opened #111 "No option to go to table view if already logged in"
If you're already logged in to the tool on the home page, there's no longer an option to navigate to the approval table. You have to log out and log back in

![image](https://user-images.githubusercontent.com/17882165/169549952-543967e2-3b0a-4cd9-9c63-956a3435ae1d.png)

[2022-05-20 15:07] jlherring commented on #110
@abprins I'm seeing apostrophes in all the names... edit those out of the usernames and try again?

@tbock may need to build in so we strip those out. I thought we were, but maybe not

[2022-05-20 15:10] abprins commented on #110
@jlherring, @tbock that worked.

[2022-07-18 15:20] jlherring commented on #69
So make it conditional - superusers see all responses in filter.

active users are automatically filtered to their responses?

[2022-07-18 15:36] #100 closed

[2022-07-18 15:37] #51 closed

[2022-07-18 15:37] #81 closed

[2022-07-18 15:38] #101 closed

[2022-09-20 20:39] jlherring opened #112 "New welcome email text for MFA"
@tbock  Once an account is created, people will have a 2-week grace period to enable MFA. @torrin47 has updated language for those automated emails when accounts are created. We'll need to update

[2022-09-21 21:16] tbock commented on #50
This was built out but appears that it might not be working.

[2022-09-21 21:58] tbock commented on #60
Anyone get a chance to confirm if this is still an issue? @abprins @jlherring

[2022-09-21 22:01] tbock commented on #92
Done

[2022-09-21 22:01] #92 closed

[2022-09-22 14:10] abprins commented on #60
I haven't encountered any problems around this @tbock.

[2022-09-22 14:15] abprins commented on #103
In the admin interface, we can set the default reason/affiliation for each project. If that's what this is referring to, then yes it's resolved @tbock.

![image](https://user-images.githubusercontent.com/62261480/191771046-00a9f8a5-428e-43d1-86aa-175d037ed1cf.png)

[2022-09-22 14:46] #103 closed

[2022-09-22 14:46] #60 closed

[2022-09-26 17:38] tbock commented on #71
@torrin47 can this be closed?

[2022-09-26 17:50] tbock commented on #50
Confirmed this is deployed and working in production

[2022-09-26 17:50] #50 closed

[2022-10-13 22:30] tbock commented on #112
@torrin47 @jlherring what is the updated language?

[2022-10-13 23:54] torrin47 commented on #112
[welcomeExternal.txt](https://github.com/USEPA/GeoPlatform-Request-Tool/files/9781331/welcomeExternal.txt)

Template html attached!

[2022-10-24 22:20] tbock opened #113 "Provide username suggestions when a username exists but is associated with a different email address"
Last.First2_EPAEXT is an example of a suggestion.

[2022-10-24 22:29] tbock commented on #110
I suspect PR #114 also applies to this issue.  Invalid usernames should produce a red error with a message of ```Username is invalid or unavailable.  Please edit.``` now.

[2022-10-24 22:29] #78 closed

[2022-10-25 18:05] #112 closed

[2022-10-25 18:17] #110 closed

[2022-11-14 16:20] jlherring commented on #113
getting more questions about this... making high priority for good measure